body {
    background-color: #333;
    color: #ddd;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

main {
    background-color: #444;
    padding: 1rem;
}

h2,
a {
    color: #ffcc00; // #fc0
    transition: all 0.25s;
}

h2:hover,
a:hover {
    text-decoration: none;
    color: #f90;
}
