<footer class="text-center">
    <span class="footer-item">
        <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.de" rel="nofollow noopener">
        {% include icon.html icon="cc" %}
        BY-NC
        </a>
    </span>
    <span class="footer-item">
        <a href="/impressum/" rel="nofollow">
            {% include icon.html icon="impressum" %}
            Impressum
        </a>
    </span>
    <span class="footer-item">
        <a href="/datenschutz/" rel="nofollow">
        {% include icon.html icon="shield" %}
        Datenschutz
        </a>
    </span>
    <span class="footer-item">
        <a href="https://kiwiirc.com/nextclient/#irc://irc.libera.chat:+6697/#dachau" rel="nofollow noopener">
        {% include icon.html icon="message-square" %}
        Chat
        </a>
    </span>
    <span class="footer-item d-block">
        Mit {% include icon.html icon="beer" %} gebaut von 
        <a href="https://rohner.io/" rel="nofollow noopener">Rohner Solutions</a>
    </span>
</footer>
